@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Base.html */
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: 80vh;
}

header, footer{
    min-height: 10vh;
}

header{
    background: linear-gradient(#FEEA3B,#ffffff);
    display: flex;
    justify-content: center;
    min-height: 18vh;
}

footer{
    background: #E6153B;
    min-height: 18vh;
    display: flex;
    justify-content: center;
    align-items: end;
    color: #ffffff;
}

a{
    color: #000000;
    text-decoration: none;
}

.lista-cabecalho{
    list-style-type: none;
    display: flex;
    width: 100vw;
    height: 15vh;
    padding-left: 1vw;;
    padding-right: 1vw;
}

.lista-cabecalho__item{
    margin: 10px;
    display: flex;
    align-items: center;
}

.lista-cabecalho .item-logo-form{
    margin-right: auto;
}

.logo-cabecalho{
    border-radius: 50%;
    width: 8vw;
}

.barra-pesquisa{
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 30vw;
    transition: all 0.3s;
}

.botao-pesquisa{
    background: none;
    border: none;
}

.lista-cabecalho .item-carrinho .link-carrinho{
    display: flex;
}

.lista-cabecalho .item-carrinho .texto-item-carrinho, .lista-cabecalho .item-carrinho .icone-item-carrinho{
    margin: 0.25vw;
}

.item-login .img-icone-usuario, .icone-logout{
    width: 2.5vw;
}

.botao-logout{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.lista-rodape{
    list-style-type: none;
    min-height: 18vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 9vh 3vw 0 3vw;  
}

.lista-dentro-da-lista-rodape{
    list-style-type: none;
}

.lista-dentro-da-lista-rodape__item{
    margin-left: 0.25vw;
    transition: all 0.3s;
}

.lista-dentro-da-lista-rodape__item a:hover{
    color: #ffffff;
}

/* Home.html */
.grid-produtos{
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-produto{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    transition: all 0.4s;
}

.container-produto:hover{
    scale: 1.02;
    background-color: #bbbbbb;
}

.coluna-imagem, .coluna-nome-preco-estoque{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 0;
}

.coluna-nome-preco-estoque{
    margin-top: 10px;
    justify-content: space-around;
}
.coluna-imagem .imagem-produto{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 5px;
}

.linha-imagem-texto-produto{
    display: flex;
    flex-direction: row;
}

.texto-produto{
    margin-bottom: 1.5vh;
}

.nome-produto{
    width: 10vw; 
}

.form-botao-add-carrinho{
    margin-top: 0.5vw;
}

.botao-add-carrinho{
    background-color: #3988fe;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 3vh;
    padding: 0.3vw;
    width: 9vw;
}

.botao-add-carrinho:hover{
    background-color: #65a1fc;
}

/* detalhe-produto.html */
.container-produto-detalhe{
    background-color: #f1f1f1;
    margin: 5vh auto 5vh auto;
    padding: 1vw;
    width: 60vw;
    border-radius: 5px;
    overflow: hidden;
}

.lista-carrossel-detalhe__item img{
    border-radius: 5px;
    width: 35vw;
    margin: auto 12vw auto 12vw;
}

.lista-carrossel-detalhe{
    list-style-type: none;
    display: flex;
    min-height: 80vh;
    width: 50vw;
    transition: all 0.3s;
}

.lista-carrossel-detalhe__item{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
}

.lista-e-botoes-carrossel{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botoes-carrossel{
    background-color: none;
    border: none;
    transition: all 0.3s;
    z-index: 1;
}

.botoes-carrossel:hover{
    color: #888888;
    background-color: none;
}

.viewport-carrossel{
    overflow: hidden;
    width: 50vw;
}

.nome-produto-detalhe{
    overflow: hidden;
    text-overflow: ellipsis;
}

.formulario-carrinho-detalhe{
    margin-top: 1vh;
    display: flex;
    justify-content: center;
}

.botao-add-carrinho-detalhe{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 5vh;
}

.container-avaliacoes, .formulario-avaliacao{
    background-color: #3988fe;
    margin: auto 5vw auto 5vw;
    border-radius: 5px;
    padding: 0.5vw;
    margin-bottom: 10px;
}

.container-avaliacao-individual{
    background-color: #f1f1f1;
    padding: 0.5vw;
    border-radius: 5px;
}

.linha-estrelas-nota{
    display: flex;
}

.linha-estrela{
    margin-left: 0.5vw;
}

.avaliacao-textarea{
    display: flex;
    flex: 1;
    width: 65vw;
    resize: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.formulario-avaliacao{
    color: #fff;
    width: 70vw;
    margin: 10px auto 10px auto ;
}

.avaliacao-textarea:focus{
    outline: none;
    border: #3988fe solid 2px;
}

.avaliacao-textarea::placeholder{
    font-size: 14px;
}

.estrelas span {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    transition: 0.2s;
}

.estrelas span.ativa {
    color: #FEEA3B;
}

.botao-enviar-avaliacao{
    background-color: #fff;
    width: 30vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    transition: all 0.4s;
}

.botao-enviar-avaliacao:hover{
    background-color: #FEEA3B;
}

.p-sem-avaliacao{
    text-align: center;
    margin: 1vw;
}

/* carrinho */
.h1-carrinho{
    text-align: center;
}

.master-lista-container-carrinho{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-produto-carrinho{
    margin: 1.5vh;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.lista-container-produto-carrinho{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.coluna-info-itens{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.coluna-imagem-info{
    margin-top: auto;
}

.imagem-produto-carrinho{
    width: 10vw;
}

.botao-remover-produto{
    background-color: #E6153B;
    color: #fff;
    font-size: 15px;
    min-width: 10vw;
    height: 4vh;
    border-radius: 5px;
    border: none;
    transition: all 0.3s;
}

.botao-remover-produto:hover{
    box-shadow: 2px 2px 3px #000;
}

.div-total-confirma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
    margin: 1vh;
}

.link-confirmar-compra{
    background-color: #3988fe;
    color: #fff;
    font-size: 15px;
    padding: 10px;
    width: 20vw;
    height: 4vh;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.link-confirmar-compra:hover{
    background-color: #65a1fc;
    box-shadow: 2px 2px 3px #000;
}

.h2-carrinho-vazio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
/* base-accounts */
.header-accounts{
    background: #FEEA3B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hz-logo-accounts{
    width: 8vw;
}

.main-accounts{
    background: linear-gradient(#FEEA3B, #3988fe);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer-accounts{
    background: linear-gradient(#3988fe, #E6153B);
}

/* templates do app accounts */

.form-account{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 5px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
    margin: auto 33vw;
    gap: 4vh;
    padding: 2.5vw;
    border-radius: 5px;
    color: #fff;
}

.form-account input{
    width: 25vw;
    height: 5vh;
    border-radius: 5px;
}

.form-account label{
    display: block;
}

.form-account input:focus{
    border: none;
}

.botao-account{
    background-color: #3988fe;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 5vh;
    width: 8vw;
    font-size: 15px;
    margin: 1.5vw;
}

.botao-account:hover{
    background-color: #65a1fc;
}

.form-account a{
    color: #fff;
    transition: 0.3s;
}

.form-account a:hover{
    color: #f1f1f1;
}

.form-register{
    gap: 2vh;
}

/* sobre nos */
.main-sobre-nos{
    padding: 2vw;
    display: flex;
    flex-direction: column;
}

.titulos{
    transition: all 0.3s;
    padding: 2vw;
    margin: 2vw;
    text-align: center;
    background-color: #f1f1f1
}

.fabrica-dispositivos-img{
    border-radius: 5px;
    width: 30vw;
}

.texto-imagem-sobre-nos{
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding: 2vw;
    background-color: #f1f1f1;
}

.coluna-p-sobre-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;
}

.container-valores{
    align-self: center;
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 30vh;
    gap: 2vw;
}

.valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
    border-radius: 5px;
}

.valor-respeito{
    background-color: #3988fe;
}

.valor-respeito:hover{
    background-color: #65a1fc;
}

.valor-inovacao{
    background-color: #FEEA3B;
}

.valor-inovacao:hover{
    background-color: #faea5e;
}

.valor-qualidade{
    background-color: #E6153B;
}

.valor-qualidade:hover{
    background-color: #e63757;
}

.botao-play{
    background-color: transparent;
    border: none;
}

.img-som{
    width: 2vw;
}

audio{
    display: none;
}