*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: 80vh;
}

header, footer{
    min-height: 10vh;
}

header{
    background: linear-gradient(#FEEA3B,#ffffff);
}

a{
    color: #000000;
    text-decoration: none;
}

.lista-cabecalho{
    list-style-type: none;
    display: flex;
}

.lista-cabecalho__item{
    margin: 10px;
}

.imagem-cabecalho{
    border-radius: 50%;
    width: 10vw;
}

.grid-produtos{
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-produto{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
}

.imagem-produto{
    width: 10vw;
    min-height: 18vh;
}

.coluna-imagem, .coluna-nome-preco-estoque{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 0;
}

.coluna-nome-preco-estoque{
    margin-top: 10px;
    justify-content: center;
}

.linha-imagem-texto-produto{
    display: flex;
    flex-direction: row;
}

.texto-produto{
    margin-bottom: 20px;
}

.form-botao-add-carrinho{
    margin-top: 0.5vw;
}

