*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: 80vh;
}

header, footer{
    min-height: 10vh;
}

a{
    color: #000000;
    text-decoration: none;
}

div{
    background-color: #ff1234;
}