@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

body{
    display: flex;
    flex-direction: column;
}

main{
    min-height: 80vh;
}

header, footer{
    min-height: 10vh;
}

header{
    background: linear-gradient(#FEEA3B,#ffffff);
    display: flex;
    justify-content: center;
    height: 18vh;
}

footer{
    background-color: #E6153B;
}

a{
    color: #000000;
    text-decoration: none;
}

.lista-cabecalho{
    list-style-type: none;
    display: flex;
    width: 100vw;
    height: 15vh;
    padding-left: 1vw;;
    padding-right: 1vw;
}

.lista-cabecalho__item{
    margin: 10px;
    display: flex;
    align-items: center;
}

.lista-cabecalho .item-logo-form{
    margin-right: auto;
}

.logo-cabecalho{
    border-radius: 50%;
    width: 8vw;
}

.barra-pesquisa{
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-width: 20vw;
}

.botao-pesquisa{
    background: none;
    border: none;
}

.lista-cabecalho .item-carrinho .link-carrinho{
    display: flex;
}

.lista-cabecalho .item-carrinho .texto-item-carrinho, .lista-cabecalho .item-carrinho .icone-item-carrinho{
    margin: 0.25vw;
}

.item-login .img-icone-usuario{
    width: 3vw;
}

.grid-produtos{
    margin: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.container-produto{
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 20vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
}

.container-produto:hover{
    scale: 1.04;
    background-color: #bbbbbb;
}

.coluna-imagem, .coluna-nome-preco-estoque{
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 0;
}

.coluna-nome-preco-estoque{
    margin-top: 10px;
    justify-content: flex-start;
}
.coluna-imagem .imagem-produto{
    width: 100%;
    height: 20vh;
    object-fit: cover;
    border-radius: 5px;
}

.linha-imagem-texto-produto{
    display: flex;
    flex-direction: row;
}

.texto-produto{
    margin-bottom: 1.5vh;
}

.nome-produto{
    width: 10vw; 
}

.form-botao-add-carrinho{
    margin-top: 0.5vw;
}

.botao-add-carrinho{
    background-color: #3988fe;
    border: none;
    border-radius: 5px;
    color: #fff;
    height: 3vh;
    padding: 0.3vw;
    width: 9vw;
}

.botao-add-carrinho:hover{
    background-color: #65a1fc;
}




