<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>
<body>
    <header>
        <ul class="lista-cabecalho">
            <li class="lista-cabecalho__item item-logo-form">
                <a href="{% url 'home' %}"><img src="{% static 'images/Hz_logo.png' %}" alt="" class="logo-cabecalho"></a>
                <form method="get" action="" class="form-pesquisa">
                    <input type="text" name="pesquisar" value="{{ request.GET.q }}" placeholder="Digite aqui o que você deseja encontrar..." class="barra-pesquisa">
                    <button type="submit" class="botao-pesquisa"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </li>
            <li class="lista-cabecalho__item item-carrinho">
                <a href="{% url 'carrinho' %}" class="link-carrinho"><i class="fa-solid fa-cart-shopping icone-item-carrinho"></i><p class="texto-item-carrinho">Carrinho</p></a>
            </li>
            <li class="lista-cabecalho__item item-login">
                <a href="{% url 'login' %}"><img src="{% static 'images/icone-user.png '%}" alt="" class="img-icone-usuario"></a>
            </li>
        </ul>
    </header>
        {% block content %}

        {% endblock %}
    <footer>
        <ul>
            <li></li>
        </ul>
    </footer>
</body>
</html>