<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <ul class="lista-cabecalho">
            <li class="lista-cabecalho__item">
                <a href="{% url 'home' %}"><img src="{% static 'images/Hz_logo.png' %}" alt="" class="imagem-cabecalho"></a>
            </li>
            <li class="lista-cabecalho__item">
                <a href="{% url 'carrinho' %}">Carrinho</a>
            </li>
            <li class="lista-cabecalho__item">
                <a href="{% url 'login' %}">Entrar</a>
            </li>
        </ul>
    </header>
        {% block content %}

        {% endblock %}
    <footer>
        <ul>
            <li></li>
        </ul>
    </footer>
</body>
</html>