{% extends 'base.html' %}

{% load static %}
{% block content %}
<main>
    <div class="container-produto-detalhe">
        <div class="lista-e-botoes-carrossel">
            <button type="button" id="passar_esquerda" class="botoes-carrossel"><h1><i class="fa-solid fa-arrow-left"></i></h1></button>
            <div class="viewport-carrossel">
                <ul class="lista-carrossel-detalhe" id="lista_carrossel_detalhe">
                    <li class="lista-carrossel-detalhe__item" id="img_carrossel_produto1">
                        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="imagem-produto">
                    </li>
                    <li class="lista-carrossel-detalhe__item" id="img_carrossel_produto2">
                        <img src="{{ produto.imagem_carrossel_um.url  }}" alt="{{ produto.nome }}" class="imagem-produto-carrossel">
                    </li>
                    <li class="lista-carrossel-detalhe__item" id="img_carrossel_produto3">
                        <img src="{{ produto.imagem_carrossel_dois.url }}" alt="{{ produto.nome }}" class="imagem-produto-carrossel">
                    </li>
                </ul>
            </div>
            <button type="button" id="passar_direita" class="botoes-carrossel"><h1><i class="fa-solid fa-arrow-right"></i></h1></button>
        </div>
        <h1 class="nome-produto-detalhe">{{ produto.nome }}</h1>
        <h3>{{ produto.preco_formatado }}</h3>
        <p>Quantidade em Estoque: {{ produto.quantidade_estoque }}</p>
        {% if produto.media_avaliacoes %}
            <p>Média de Avaliações: {{ produto.media_avaliacoes | floatformat:1 }}</p>
        {% else %}
            <p>Não há avaliações</p>
        {% endif %}
        <form method="post" action="{% url 'adicionar_produto' produto.id %}" class="formulario-carrinho-detalhe">
            {% csrf_token %}
            <button type="submit" class="botao-add-carrinho botao-add-carrinho-detalhe">Adicionar ao carrinho</button>
        </form>
        
    </div>
    <form method="post" class="formulario-avaliacao">

        <h3>Avalie o Produto</h3>
        {% csrf_token %}

        <div class="estrelas">
            <span data-value="1">★</span>
            <span data-value="2">★</span>
            <span data-value="3">★</span>
            <span data-value="4">★</span>
            <span data-value="5">★</span>
        </div>
        {{ form.nota_avaliacao }}
        
        <div class="comentario">
            <label for="{{ form.comentario_avaliacao.id_for_label }}">
                Comentário
            </label>
            {{ form.comentario_avaliacao }}
        </div>
        <button type="submit" class="botao-enviar-avaliacao">Avaliar</button>
    </form>
    {% if produto.avaliacao.exists %}
        <div class="container-avaliacoes">
            {% for avaliacao in produto.avaliacao.all %}
            <div class="container-avaliacao-individual">
                <h3>{{ avaliacao.usuario }}</h3>
                <div class="linha-estrelas-nota"><p>{{ avaliacao.nota_avaliacao | floatformat:1 }}</p><div class="container-estrelas" id="container_estrelas" data-nota="{{ avaliacao.nota_avaliacao }}"></div></div>
                <p>{{ avaliacao.comentario_avaliacao }}</p>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <p>Não há avalições desse produto no momento</p>
    {% endif %}
</main>
<script src="{% static 'js/carrossel.js' %}"></script>
<script src="{% static 'js/estrelas-avaliacao.js' %}"></script>
<script src="{% static 'js/selecionar-estrelas-avaliacao.js' %}"></script>
{% endblock %}