{% extends 'base.html' %}

{% block content %}
<main>
    <div class="grid-produtos">
    {% for produto in produtos %}
        <div class="container-produto">
                <a href="{% url 'detalhe_produto' produto.pk %}" class="linha-imagem-texto-produto">
                    <div class="coluna-imagem">
                        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" class="imagem-produto">
                        <form method="post" action="{% url 'adicionar_produto' produto.id %}" class="form-botao-add-carrinho">
                            {% csrf_token %}
                            <button type="submit" class="botao-add-carrinho">Adicionar ao carrinho</button>
                        </form> 
                    </div>
                
                    <div class="coluna-nome-preco-estoque">
                        <h3 class="texto-produto nome-produto" id="nome_produto">{{ produto.nome }}</h3>
                        <h2 class="texto-produto">R$ {{ produto.preco_formatado }}</h2>
                        <p>Quantidade Estoque: {{ produto.quantidade_estoque }}</p>
                    </div>
                </a>
                
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}