{% extends 'base.html' %}

{% block content %}
<main>
    <div class="grid-produtos">
    {% for produto in produtos %}
        <div class="container-produto">
            <a href="{% url 'detalhe_produto' produto.pk %}">
                <p class="nome-produto">{{ produto.nome }}</p>
                <p>{{ produto.preco_formatado }}</p>
                <p>{{ produto.quantidade_estoque }}</p>
            </a>
            <form method="post" action="{% url 'adicionar_produto' produto.id %}">
                {% csrf_token %}
                <button type="submit">Adicionar ao carrinho</button>
            </form>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock %}