{% extends 'base.html' %}

{% block content %}
{% load static %}
{% block header %}{% endblock %}
<main>
    <h3>Sobre a Hertz</h3>

    <p>
        A loja <b>Hertz</b> foi fundada em Janeiro de 2026, com o propósito de fornecer produtos relacionados ao som com a melhor qualidade possível, prezando por um bom atendimento. Nosso principal objetivo é vender os produtos com cuidado desde o armazenamento até a escolha de parceiros ideais para fabricação e transporte dos mesmos. Fazemos isso com carinho de cada colaborador e uma cultura de respeito e qualidade dentro da nossa empresa.
    </p>

    <img src="{% static 'images/fabrica-dispositivos.png' %}" alt="fabrica-dispositivos" />
</main>
{% endblock %}