{% extends 'base.html' %}
{% load l10n %}
{% block content %}
{% load static %}
{% block header %}{% endblock %}
<main>
<h1 class="h1-carrinho">Carrinho</h1>
    {% if itens %}
    <ul class="master-lista-container-carrinho">
        {% for item in itens %}
            <li class="container-produto-carrinho">
                <ul class="lista-container-produto-carrinho">
                    <div class="coluna-imagem-info">
                        <li>
                            <img src="{{ item.produto.imagem.url }}" alt="" class="imagem-produto-carrinho">
                        </li>
                        <div class="coluna-info-itens">
                            <li>
                                <p><strong>Produto:</strong> {{ item.produto.nome }}</p>
                            </li>
                            <li>
                                <p><strong>Preco unitario:</strong> {{ item.produto.preco_formatado }}</p>
                            </li>
                            <li>
                                <p><strong>Quantidade:</strong> {{ item.quantidade }}</p>
                            </li>
                            <li>
                                <form method="post" action="{% url 'remover_produto' item.id %}" >
                                    {% csrf_token %}
                                    <button type="submit" class="botao-remover-produto">Remover Produto</button>
                                </form>
                            </li>
                        </div>
                    </div>
                </ul>
            </li>
        {% endfor %}
    </ul> 
    {% else %}
        <h2 class="h2-carrinho-vazio">Seu Carrinho está Vazio</h2>
    {% endif %}
    {% if itens %}
        <div class="div-total-confirma">
            <h3><strong>Total:</strong>{{ total|floatformat:2|unlocalize }}</h3>
            <a href="{% url 'pagina_confirmacao_compra' %}" class="link-confirmar-compra">Comprar</a>
        </div>
    {% endif %}
</main>      
{% endblock %}